/*
	Author  : AMBUROSE RANJITH KUMAR
	Date    : 23/04/2021
	Version : 1.0.0
*/

/*Mobile View */

@media screen and (max-width: 480px) {

html {
	box-sizing: border-box;
	font-size: 100%;}

body {
	margin: 0 auto;
	border: 0;
	padding: 0px 10px;
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 400;
	color: #000000;}

*, 
*::before,
*::after { box-sizing: inherit;}

img{ max-width: 100%;
	 height: auto;
	 display: block; }

h1,h2,h3,h4,h5,h6{
	
	font-family: Raleway, sans-serif;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 0.625em 0;
	color: #000000; }

h1{ font-size: 2em;}
h2{ font-size: 1.75em;}
h3{font-size: 1.5em}
h4{font-size: 1em}
h5{font-size: 0.75em}

#logo{ width: 35%; }

header { display: inline-flex;
		 flex-wrap: wrap; }

header nav ul{ list-style-type: none; 
		 	 display: flex;
		 	 padding: 10px;}

	header li{ display: flex; 
			   padding: 10px 25px;}

	header li #one { padding: 0px 10px;
					 color: #0065fc;
					 border-bottom: 2px solid #0065fc; }

		 a { text-decoration: none; }

		 p{ margin: 10px 0px; }

input{ border-radius: 10px;
	   border-color: #deebff;
	   border-width: 2px;
	   width: 95%;
	   padding: 15px 5px;
	  position: absolute;}

#margin-large{ margin-bottom: 30px; }

#location{
position: relative;
display: flex;
max-width: 300px;
justify-content: space-between;
padding: 10px 0px;}

.fa.fa-map-marker:before{ 
	position: absolute;
	top: 1px;
	padding: 17px 20px !important;
	background-color: #deebff; 
	border-radius: 10px 0px 0px 10px;}

 #search-place{ padding-left: 10px;}

 #search-btn{ display: none; }

 .fa-search:before{ padding: 17px 20px !important; 
 					background-color: #0065fc; 
 					border-radius: 10px;
 					position: absolute;
 					top: 1px;
 					left: 400px;
 					color: #ffffff;	}

.sub-menu ul { list-style-type: none;
				display: flex;
				flex-wrap: wrap; }

.sub-menu ul li#menu-filter { display: block !important;
							  padding-right: 90%;
							  padding-bottom: 15px; }

ul{ padding-inline-start: 0px; }

.sub-menu ul{ padding: 0px 10px;}

 nav ul i {	   padding: 15px;
 			   color: #0065FC;
 			   background-color: #deebff;
 			   border-radius: 50%;  }

 .sub-menu li{ display: inline-flex;
 			flex-wrap: wrap;
 			 padding: 10px 25px 10px 50px;
 			 margin-right: 10px;
 			 margin-bottom: 10px;}

/*.sub-menu div:nth-child(1) { order: 1; } /*Low Cost*/

/*.sub-menu div:nth-child(2) { order: 3; } /*Family-Friendly*/

.sub-menu div:nth-child(3) { order: 2; } /*---Romantic---*/

/*.sub-menu div:nth-child(4) { order: 4; } /*Pets Allowed*/

 #menu-filter{ padding: 0px; }

 #info{ display: flex;
 		align-items: baseline; }

 #info p { width: 480px; }

 .fa-info{ color: #0065FC;
 margin: 5px;
 padding: 10px 15px;
 background-color: #deebff;
 border-radius: 50%; }

 .button {
 	padding: 10px 10px 10px 10px;
 	margin-left:  5px;
 	border-radius: 50px;
 	border: 2px #deebff solid;
 	position: relative;
 	right: 50px; 
 	}

 .button:hover{ background-color: #deebff;
 				color: #0065FC;}

 section {
 		border-radius: 30px;
 		padding: 10px;
 		margin: 10px;
 		max-width: 460px;
 		display: inline-flex;
 		flex-wrap: wrap;
 		flex-direction: row;
 		align-content: flex-start;
 		align-items: flex-start;}

 aside { background-color: #deebff;
 		padding: 40px 10px; 
 		margin-right: 10px;}

.main{ display: flex;
		flex-wrap: wrap;
		width: 470px;
		flex-direction: column-reverse; }

 .Marseille {
 	display: flex;
	flex-wrap: wrap;
	flex-direction: row;;
	align-content: flex-start;
	justify-content: flex-start;
	background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 430px;
	height: 360px;
	padding: 10px 10px;
	margin: 10px 0px;
	border-radius: 20px;}

 .Marseille h5 { width: 430px; }

 .Marseille p { margin: 0px; 
  				 width: 430px;
  				 padding-bottom:10px;
  				 padding-left: 5px; }

.Marseille a img {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			height: 240px;
			width: 440px;
			border-radius: 20px 20px 0px 0px;}

h2{ padding-top: 15px; 
    width: 430px;}

#aside-header{
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	margin-bottom: 20px;}

#aside-header h2 { margin: 0px; }

.fa-external-link-alt:before{ padding-right: 10px; }

.aside-popular{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;}

.popular-hotels{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: #ffffff;
	border-radius: 20px;
	width: 440px;
	margin-bottom: 20px;}

 .popular-hotels a img{
 			display: inline-flex;
			flex-wrap: wrap;
			height: 180px;
			width: 175px;
			padding: 10px 0px 5px 10px;
			border-radius: 20px 0px 0px 20px;}

.fa-star:before { color: #0065fc;
			 padding-left: 5px;
			 padding-bottom: 10px;
			 margin-bottom: 10px;}

.fa-star.five:before{ color: #deebff }
.fa-star.four:before{ color: #deebff }

h4{ font-size: 1.5em;
	padding-top: 20px; }

h5{ font-size: 1.25em;
	padding-right: 10px; 
	margin: 5px;}

.aside-info{ padding: 10px; }

.popular-hotels a img:hover{ opacity: 75%;}

.Activities-Spot, .Activities-Spot-half { 	background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 430px;
	height: 325px;
	padding: 10px;
	margin: 20px 0px;
	border-radius: 20px; }

#Activities img{ 
				height: 250px;
				width: 440px;
				border-radius: 20px 20px 0px 0px;} 

#Activities img:hover { opacity: 75%;}

#Activities h5{ padding: 15px 10px; }

footer{ background-color: #deebff;
		padding: 30px 10px; }

footer ul{ list-style-type: none; }

}

/* End of Mobile View */

/*------------------------- Tablet View------------------------*/  


@media screen and (min-width: 481px) and (max-width: 768px){

.container {
	max-width: 650px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;}

nav a { text-decoration: none;
	color: #000000; 
	padding: 10px;}

a { text-decoration: none;
	color: #000000; }

ul { list-style-type: none; 
	padding-inline-start: 0px;}

.sub-menu ul{ display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-right: 20px }

nav .menu {
	display: flex;
	justify-content: space-between;}

.menu li { display: inline-flex; 
		justify-content: flex-start;
	padding: 20px 0px 20px 60px;}

#logo { display: flex;
		max-width:25%;
		padding: 20px 20px 20px 0px;
		margin: auto;}

#one { color: #0065FC; }

#three { color: #0065FC !important;
		 font-size: 18px !important;}
		 

nav a:hover, nav a:active{ color: #0065FC; 
					font-family: Raleway, sans-serif;
				   opacity: 0.75;
					font-weight: 35	0;
					border-top: 2px solid #0065fc}

h1{
	margin: 0px;
	padding: 10px 0px;}

p{ margin: 0px;
   padding-bottom: 10px;}

  #margin-large { margin-bottom: 15px; }

input{ border-radius: 10px;
	   border-color: #deebff;
	   border-width: 2px;
	   min-width: 300px;
	   padding: 10px;
	  position: absolute;}

#location{
position: relative;
display: flex;
max-width: 300px;
padding: 10px 10px 10px 0px;}

.fa.fa-map-marker:before{ 
	padding: 13px 20px !important;
	background-color: #deebff; 
	border-radius: 10px 0px 0px 10px;
	position: absolute;
	top: 0px;}

 #search-place{ padding-left: 70px;}

 .fa-search:before{ position: relative;
 					left: 100px;
 					top: 0px;
 					padding:12px 20px;
 					background-color: #0065fc;
 					border-radius: 0px 10px 10px 0px; }

 #search-btn{ display: none; }

 .sub-menu ul{ padding: 0px }

 nav ul i {	   padding: 12.5px;
 			   color: #0065FC;
 			   background-color: #deebff;
 			   border-radius: 50%;
 			   position: absolute; }

.sub-menu #menu-filter{ display: block;
						width: 650px; }

 .sub-menu li{ display: inline-flex;
 			flex-wrap: nowrap;
 			 padding: 10px 10px 10px 45px;
 			 margin-right: 10px;
 			 margin-bottom: 10px;}
 #menu-filter{ padding: 0px; }

 .button {
 	border-radius: 50px;
 	border: 2px #deebff solid}

 .button:hover{ background-color: #deebff;
 				color: #0065FC;}

 section {
 		background-color: #deebff;
 		border-radius: 30px;
 		padding: 20px;
 		margin: 10px 0px;
 		max-width: 400px;
 		display: inline-flex;
 		flex-wrap: wrap;
 		flex-direction: row;
 		align-content: flex-start;
 		align-items: flex-start;}

#accom-page {background-color: #deebff;
	border-radius: 30px;
	padding: 20px;
	margin: 10px 0px;
	max-width: 650px;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;}

 aside {background-color: #deebff;
 		border-radius: 30px;
 		padding: 10px;
 		margin: 10px 0px 10px 10px;
 		display: inline-flex;
 		flex-wrap: wrap;
 		max-width: 200px;}

.main{
	max-width: 960px;
	display: flex;}

h2{ padding: 10px;
	margin: 5px;}

h4{ padding: 20px 0px;;}

a h4:hover{ color: #0065fc;}

 h5{ margin: 5px;}

 .h5-like{ font-size: 1em;
		padding: 10px 40px 0px 0px;}

.fa-star:before { color: #0065fc;
			 padding: 1px;
			 margin-bottom: 10px;}

.fa-star.five:before{ color: #deebff }
.fa-star.four:before{ color: #deebff }

 .Marseille p{ font-size: 0.75em; 
 			   padding: 0px 10px 10px 5px;
 			   margin-right: 30px;
 			   display: flex;}

#info{ display: flex;}				

.fa-info { padding: 17px 20px 0px 20px; 
		   margin-right: 10px;
		   margin-left: 5px;
		   border: 2px solid #deebff;
		   border-radius: 50%;
			color: #0065FC;}	   

#accommodations{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;}

.Marseille {
 	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 170px;
	height: 175px;
	padding: 5px;
	margin: 5px;
	border-radius: 20px;}

.Marseille a img {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			height: 90px;
			width: 170px;
			border-radius: 20px 20px 0px 0px;}

.Marseille p{ width: 170px; }

.font-a{ display: flex;
		flex-wrap: wrap;
		flex-direction: start;}

.Marseille a img:hover{ opacity: 75%;}

.fa-external-link-alt:before{
	padding: 10px;
	margin: 5px;
	margin-left: 50px;
	align-items: flex-end;
	justify-content: space-between;}

#aside-header{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;}

.aside-popular{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;}

.popular-hotels{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: #ffffff;
	border-radius: 20px;
	width: 180px;
	padding: 5px 5px 0px 5px;
	margin: 5px 0px 5px 5px;}

aside h2{ padding-bottom: 0px;
		  margin-bottom: 0px; }  /*----------------------*/

.fa-external-link-alt:before{ display: none; }

#margin-bottom{ margin-bottom: 30px;}

 .popular-hotels a img{
 			display: inline-flex;
			flex-wrap: wrap;
			height: 110px;
			width: 180px;
			border-radius: 20px 20px 0px 0px;}

.popular-hotels a img:hover{ opacity: 75%;}

aside h5{ font-size: 1em; 
		margin-left: 0px;}

.aside-info{ font-size: 0.75em; 
 			 padding: 0px 10px 10px 5px;
 			 align-items: left;	
 			 justify-content: space-between;}

 #Activities{ display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;}

#Activities-Marseille{ max-width: 650px; 
					   padding: 0px;
						background-color: #ffffff;}

#Activities-Marseille h2{ display: block;
				padding: 10px ; 
				margin: 15px 0px;}

#Activities img{ 
				height: 240px;
				width: 132px;
				border-radius: 20px 20px 0px 0px;} 

#Activities img:hover { opacity: 75%;}

.Activities-Spot{
	background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 132px;
	height: 290px;
	padding: 5px;
	margin: 10px 10px;
	border-radius: 20px;}

.Activities-Spot-half{
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 132px;
	height: 135px;
	padding: 5px;
	margin: 10px 10px 0px 10px;
	border-radius: 20px;}

#Activities .Activities-Spot-half img{ height: 100px;
									   width:132px;
									   border-radius: 20px 20px 0px 0px; }

footer{ 
padding: 10px;
margin: 10px;
width: 610px;
background-color: #deebff;
display: flex;
justify-content: space-around;}

#footer-1, #footer-2, #footer-3{
	width: 200px;
	padding: 10px;
	margin: 10px;}

footer a:hover{ color: #0065fc;}

footer li { padding: 5px 0px; }


.container-signup{ max-width: 960px;}

#Signup { display: flex;
		  flex-wrap: wrap;
		  flex-direction: row;
		  justify-content: center;
		  align-items: center;
		  align-content: flex-start;
		  background-color: #deebff;
		  border-radius: 20px;
		  padding: 20px;
		  width: 350px;
		  height: 450px;
		  text-align: center;}

#Signup h2{ padding: 10px 0px;
			margin: 10px 0px;}

#Signup p{ margin-bottom: 10px;}

#Signup input{position: relative;
			  height: 20px;}

button{ background-color: #ffffff;
		padding: 10px 20px;
		margin: 10px 80px;
		border-radius: 20%;
		border: #0065fc solid 2px;}

button:hover{ background-color: #0064fc;
			  color: #ffffff;}

}


/* Desktop View*/ /*----------------------------------------------*/
 
@media screen and (min-width: 769px){

.container {
	max-width: 960px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;}

nav a { text-decoration: none;
	color: #000000; 
	padding: 10px;}

a { text-decoration: none;
	color: #000000; }

ul { list-style-type: none; }

header {
	display: flex;
	justify-content: space-between;}

.menu li{ display: inline-flex; 
	padding: 20px 0px 20px 30px;}

#logo { max-width: 35%;
		padding: 20px 20px 20px 0px;}

#logo:hover{ opacity: 75%;}

#one { color: #0065FC; }

#three { color: #0065FC !important;
		 font-size: 18px !important;}
		 
nav a:hover, nav a:active{ color: #0065FC; 
					font-family: Raleway, sans-serif;
				   opacity: 0.75;
					font-weight: 35	0;
					border-top: 2px solid #0065fc}

h1{
	margin: 0px;
	padding: 10px 0px;}


p{ margin: 0px;
   padding-bottom: 10px; }

input{ border-radius: 10px;
	   border-color: #deebff;
	   border-width: 2px;
	   min-width: 300px;
	   padding: 10px;
	  position: absolute;}

#location{
position: relative;
display: flex;
max-width: 400px;
padding: 10px 10px 10px 0px;}

.fa.fa-map-marker:before{ 
	padding: 12px 20px !important;
	background-color: #deebff; 
	border-radius: 10px;
	position: relative;
	top: 3px;
	left: 0px;}

 #search-place{ padding-left: 10px;}

 #search-btn{ 
			  background-color: #0065FC;
			  padding: 12px;
			  border-radius: 0px 10px 10px 0px;
			  top: 0px;
			  position: absolute;
			 left: 260px;
			 color: #ffffff;}

.fa-search:before{ display: none; }

 .sub-menu ul{ padding: 0px; 
 			   display:flex;
 			   align-items: center;}

 nav ul i {	   padding: 15px;
 			   color: #0065FC;
 			   background-color: #deebff;
 			   border-radius: 50%;
 			   position: absolute; }

 .sub-menu li{ display: inline-flex;
 			 padding: 12px 25px 12px 60px;
 			 margin-right: 10px;}

 #menu-filter{ padding: 0px; }

 .button {
 	border-radius: 50px;
 	border: 2px #deebff solid}

 .button:hover{ background-color: #deebff;
 				color: #0065FC;}

 section {
 		background-color: #deebff;
 		border-radius: 30px;
 		padding: 20px;
 		margin: 10px 0px;
 		max-width: 580px;
 		display: inline-flex;
 		flex-wrap: wrap;
 		flex-direction: row;
 		align-content: flex-start;
 		align-items: flex-start;}

 aside {background-color: #deebff;
 		border-radius: 30px;
 		padding: 10px;
 		margin: 10px 0px 10px 10px;
 		display: inline-flex;
 		flex-wrap: wrap;
 		max-width: 300px;}

h2{ padding: 10px;
	margin: 5px;}

h4{ padding: 20px 0px;;}

a h4:hover{ color: #0065fc;}

 h5{ margin: 5px;}

 .h5-like{ font-size: 1em;
		padding: 10px 40px 0px 0px;}

.fa-star:before { color: #0065fc;
			 padding: 1px;
			 margin-bottom: 10px;}

.fa-star.five:before{ color: #deebff }
.fa-star.four:before{ color: #deebff }

 .Marseille p{ font-size: 0.75em; 
 			   padding: 0px 10px 10px 5px;
 			   margin-right: 30px;
 			   display: flex;}

#info{ display: flex;
		align-items:flex-start; }				

.fa-info { padding: 8px 15px 8px 15px; 
		   margin-right: 10px;
		   margin-left: 5px;
		   border: 2px solid #deebff;
		   border-radius: 50%;}	  

#accommodations{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;}

.Marseille {
 	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 173px;
	height: 175px;
	padding: 5px;
	margin: 5px;
	border-radius: 20px;}

.Marseille a img {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			height: 90px;
			width: 170px;
			border-radius: 20px 20px 0px 0px;}

.Marseille p { width: 170px; }
.Marseille strong { padding-left: 2px; }

.font-a{ display: flex;
		flex-wrap: wrap;
		flex-direction: start;}

.Marseille a img:hover{ opacity: 75%;}

.fa-external-link-alt:before{
	padding: 10px;
	margin: 5px;
	margin-left: 50px;
	align-items: flex-end;
	justify-content: space-between;}

/* Accomodations Page Layout*/
.main{
	max-width: 960px;
	display: flex;
	justify-content: center;}  /*-------*/

#aside-header{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;}

.aside-popular{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;}

.popular-hotels{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: #ffffff;
	border-radius: 20px;
	width: 280px;
	padding: 5px 5px 0px 5px;
	margin: 5px 0px 5px 5px;}

#margin-bottom{ margin-bottom: 30px;}

 .popular-hotels a img{
 			display: inline-flex;
			flex-wrap: wrap;
			height: 135px;
			width: 125px;
			border-radius: 20px 0px 0px 20px;}

.popular-hotels a img:hover{ opacity: 75%;}

aside h5{ font-size: 1em; 
		margin-left: 0px;}

.aside-info{ font-size: 0.75em; 
 			 padding: 0px 10px 10px 5px;
 			 align-items: left;	
 			 justify-content: space-between;}

#Activities-Marseille{ max-width: 960px; 
					   padding: 0px;
						background-color: #ffffff;}

#Activities-Marseille h2{ display: block;
				padding: 10px ; 
				margin: 15px 0px;}

#Activities img{ 
				height: 325px;
				width: 215px;
				border-radius: 20px 20px 0px 0px;} 

#Activities img:hover { opacity: 75%;}

#Activities{ display: inline-flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;}

.Activities-Spot{
	background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	width: 220px;
	padding: 5px;
	margin: 5px;
	border-radius: 20px;}
	
.Activities-Part{
		width: 230px;
		margin: 5px;}
	
.Activities-Spot-half{ 
		background-color: #ffffff;
    	box-shadow: 0 0 10px rgba(0,0,0,0.3);
    	width: 220px;
		height: 170px; 
		border-radius: 20px;
		padding: 5px;
		margin: 0px 20px 10px 0px;}

#Activities .Activities-Spot-half img{
				height: 130px;
				width: 215px;
				border-radius: 20px 20px 0px 0px;}

footer{ 
padding: 10px;
margin: 10px;
background-color: #deebff;
display: flex;
justify-content: space-around;
align-items: flex-start; }

footer a:hover{ color: #0065fc;}

footer ul{ padding-left: 0px; }

footer li{ padding:5px 0px; }

footer h4{ margin-bottom: 0px; }

#footer-1, #footer-2, #footer-3{
		padding: 10px;
		margin: 10px;}

.container-signup{ max-width: 960px;
				   display: flex;}

#Signup { display: flex;
		  flex-wrap: wrap;
		  flex-direction: row;
		  justify-content: center;
		  align-items: center;
		  align-content: flex-start;
		  background-color: #deebff;
		  border-radius: 20px;
		  padding: 20px;
		  width: 350px;
		  height: 450px;
		  text-align: center;
		  justify-content: center;}

#Signup h2{ padding: 10px 0px;
			margin: 10px 0px;}

#Signup p{ margin: 20px;}

#Signup input{position: relative;
			  height: 20px;}

button{ background-color: #ffffff;
		padding: 10px 20px;
		margin: 10px 80px;
		border-radius: 20%;
		border: #0065fc solid 2px;}

button:hover{ background-color: #0064fc;
			  color: #ffffff;}

}